@use 'sass:map';
// color
$white: #ffffff !default;
$gray-100: #f3f7fa !default;
$gray-200: #fafbfe !default;
$gray-300: #e6e7ee !default;
$gray-400: #d1d9e6 !default;
$gray-500: #b1bcce !default;
$gray-600: #93a5be !default;
$gray-700: #66799e !default;
$gray-800: #525480 !default;
$gray-900: #44476a !default;
$dark: #262833 !default;
$black: #000000 !default;
$blue: #0056b3 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #a91e2c !default;
$orange: #fd7e14 !default;
$yellow: #f0b400 !default;
$green: #18634b !default;
$teal: #0056b3 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$default: $dark !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

$body-bg: #e6e7ee !default;
$body-color: #31344b !default;

$colors: () !default;
$colors: map.merge(
  (
    'white': $white,
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'gray-300': $gray-300,
    'gray-400': $gray-400,
    'gray-500': $gray-500,
    'gray-600': $gray-600,
    'gray-700': $gray-700,
    'gray-800': $gray-800,
    'gray-900': $gray-900,
    'dark': $dark,
    'black': $black,
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'primary': $primary,
    'default': $default,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'body-bg': $body-bg,
    'body-color': $body-color,
    'text-default': $body-color,
  ),
  $colors
);

$letter-spacing: 0.5px !default;

$font-size-base: 14px !default;
$font-size-lg: $font-size-base + 2px !default;
$font-size-sm: $font-size-base - 2px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$line-height-base: 1.5 !default;

$border-radius: 8px !default;
$border-radius-round: 32px !default;
$border-radius-circle: 50% !default;
$border-color: #d1d9e6 !default;

$padding-y-sm: 6px !default;
$padding-y: 8px !default;
$padding-y-lg: 10px !default;
$padding-x-sm: 10px !default;
$padding-x: 14px !default;
$padding-x-lg: 18px !default;

$base: () !default;
$base: map.merge(
  (
    'letter-spacing': $letter-spacing,
    'font-size-base': $font-size-base,
    'font-size-lg': $font-size-lg,
    'font-size-sm': $font-size-sm,
    'font-weight-light': $font-weight-light,
    'font-weight-normal': $font-weight-normal,
    'font-weight-bold': $font-weight-bold,
    'line-height-base': $line-height-base,
    'border-radius': $border-radius,
    'border-radius-round': $border-radius-round,
    'border-radius-circle': $border-radius-circle,
    'border-color': $border-color,
    'padding-y-sm': $padding-y-sm,
    'padding-y': $padding-y,
    'padding-y-lg': $padding-y-lg,
    'padding-x-sm': $padding-x-sm,
    'padding-x': $padding-x,
    'padding-x-lg': $padding-x-lg,
  ),
  $base
);

/* --- shadow  --- */
$shadow-inset: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
$box-shadow-default: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
$box-shadow-lg: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;

$shadow: () !default;
$shadow: map.merge(
  (
    'box-shadow-inset': $shadow-inset,
    'box-shadow-default': $box-shadow-default,
    'box-shadow-lg': $box-shadow-lg,
  ),
  $shadow
);

/* --- button  --- */
$btn-font-weight: $font-weight-normal !default;
$btn-bg-color: $body-bg !default;
$btn-border-color: #d1d9e6 !default;
$btn-font-size: $font-size-base !default;
$btn-padding-y: 8px;
$btn-padding-x: 14px;
$btn-line-height: $line-height-base;
$btn-border-radius: $border-radius;
$btn-text-color: $body-color;

$btns: () !default;
$btns: map.merge(
  (
    'font-weight': $btn-font-weight,
    'bg-color': $btn-bg-color,
    'border-color': $btn-border-color,
    'font-size': $btn-font-size,
    'padding-y': $btn-padding-y,
    'padding-x': $btn-padding-x,
    'line-height': $btn-line-height,
    'border-radius': $btn-border-radius,
    'text-default': $btn-text-color,
  ),
  $btns
);
